.form{

    &_group:not(:last-child){
        margin-bottom: 2rem;
    }
    &_input{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background: rgba($color-white,.5);
        border: none;
        font-family: inherit;
        color: inherit;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        &::-ms-input-placeholder{
            color: $color-gray-dark-2;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 3px solid $color-primary;
        }
    }
    
    &_label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: .7rem;
        margin-left: 2rem;
        display: block;
    }

    &_input:placeholder-shown + &_label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &_redio-group{
        width: 49%;
        display: inline-block;
    }
    &_redio-input{
        display: none;
    }
    &_redio-label{
        font-size: $defoult-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    &_redio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.5rem;

        &::after{
            content: '';
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &_redio-input:checked ~ &_redio-label &_redio-button::after{
        opacity: 1;
    }

}